body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}

/* Couleurs personnalisées */
.texte-jaune { color: #FFCA2C; }
.bg-jaune { background-color: #FFCA2C; }
.bg-gris-clair { background-color: #f4f5f7; }
.texte-gris { color: #7a828e; font-size: 0.8rem;}
.text-bleu {color: #2d3748; }


.profil {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 3px solid #e2e8f0;
}

.nom {
    font-size: 1.1rem;
    color: #2d3748;
}

.localisation {
    font-size: 0.85rem;
    color: #7a828e;
}

.icone{
    width: 60px;
}

text-card {
    font-size: 0.95rem;
    color: #2d3748;
}

/* Bords très arrondis pour les cartes */
.rounded-4 { border-radius: 1rem !important; }
.rounded-5 { border-radius: 1.5rem !important; }


/* Petites fioritures */
.notification-dot {
    width: 10px; height: 10px;
    right: 2px; top: 2px;
}

.titre-carte {
    font-size: 0.95rem;
    color: #555;
}